.main {
    margin: 5% 10% 5% 10%;
    max-width: calc(100% - 20%);
}

p {
    margin-bottom: 0px;
}

.item {
    margin-bottom: 5px;
}

.Title-item {
    margin-bottom: 20px;
}

.box {
    background-color: #F5F5F5;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}

.custom-btn {
    margin-top: 10px;
    background-color: #FFCA28;
    border-radius: 5px;
    width: 30%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}

@media only screen and (max-width: 768px) {
    .large {
        display: none;
    }
    .box {
        margin-top: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
    }

    .custom-btn {
        margin-top: 30px;
        width: 80%;
    }

    p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    .small {
        display: none;
    }
}